---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.4.0/reveal.min.css"
    integrity="sha512-A5PKBHoJQHdKjxpwyV+VhMsK7L3MMV1Ch2++rS0bn3xX8+5qJb3WpPvwJH1eqb6iMRtotfiOO7Jhl1qQ02Rwuw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.4.0/theme/black.min.css"
    integrity="sha512-DKeDMgkMDBNgY3g8T6H6Ft5cB7St0LOh5d69BvETIcTrP0E3d3KhANTMs5QOTMnenXy6JVKz/tENmffCLeXPiQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <div class="reveal">
    <div class="slides">
      <section>Beyond Virtual DOM</section>
      <section>
        <p>Previously</p>
        <ul>
          <li>ISlands Architecture 🏝️</li>
          <li>SSR on the Edge 🌏</li>
        </ul>
      </section>
      <section>
        <p>What is Virtual DOM?</p>
        <span class="text-base"
          >Ref: https://blog.logrocket.com/virtual-dom-react/</span
        >
      </section>
      <section>
        <p>Virtual DOM is fast for most cases</p>
        <p>Until, you start noticing the problem</p>
        <span class="text-base"
          >Ref: https://svelte.dev/blog/virtual-dom-is-pure-overhead</span
        >
      </section>
      <section>Understading React DOM renders</section>
      <section>Better Virtual DOM Libraries</section>
      <section>
        <p>Links to stuff used in this talk</p>
        <ul>
          <li><a href="https://astro.build/">Astro</a></li>
          <li><a href="https://revealjs.com/">Reveal.js</a></li>
          <li>
            <a href="https://legacy.reactjs.org/docs/context.html"
              >React Context</a
            >
          </li>
          <li><a href="https://github.com/pmndrs/zustand">Zustand</a></li>
          <li>
            <a
              href="https://github.com/preactjs/signals/tree/main/packages/react"
              >Signals</a
            >
          </li>
          <li><a href="https://github.com/ged-odoo/blockdom">blockdom</a></li>
          <li><a href="https://millionjs.org/">Million</a></li>
          <li><a href="https://github.com/mobz/lag-radar">LagRadar</a></li>
        </ul>
      </section>
      <section>
        <p>Connect with me on Twitter</p>
        <a href="https://twitter.com/dani_akash_">@dani_akash_</a>
        <br />
        <br />
        <br />
        <a href="https://daniakash.com">daniakash.com</a>
      </section>
    </div>
  </div>
  <script src="https://unpkg.com/reveal.js@4.4.0/dist/reveal.js"></script>
  <script src="https://unpkg.com/reveal.js@4.4.0/plugin/notes/notes.js"
  ></script>
  <script src="https://unpkg.com/reveal.js@4.4.0/plugin/markdown/markdown.js"
  ></script>
  <script src="https://unpkg.com/reveal.js@4.4.0/plugin/highlight/highlight.js"
  ></script>
  <script>
    window.addEventListener("load", function () {
      Reveal.initialize({
        hash: true,
        progress: false,
        // Learn about plugins: https://revealjs.com/plugins/
        plugins: [RevealMarkdown, RevealHighlight, RevealNotes],
      });
    });
  </script>
</BaseLayout>
