---
import { NavBar } from "../Components/NavBar";

const url = Astro.url;
const activeUrl = url.pathname;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Beyond Virtual DOM</title>
  </head>
  <body>
    <NavBar activeUrl={activeUrl} client:load />
    <slot />
  </body>
</html>
